<li class="nav-item chatItem"">
    <div class="d-flex bd-highlight">
        <div class="p-2 w-100 bd-highlight">
            <h6 class="chatTitle">ChatTitle</h6>
            <p class="lastMessage">Last message bluhbluhbluhbluhbluhdnasfuhdfuuhfduaf</p>
        </div>
        <div class="p-2 flex-shrink-1 bd-highlight">
            <p class="timeLastMessage">17:38</p>
        </div>
    </div>
</li>

<!--<li class="nav-item chatItem">-->
<!--    <div class="d-flex bd-highlight">-->
<!--        <div class="p-2 w-100 bd-highlight">-->
<!--            <h6 class="chatTitle"><%= //chatTitle %></h6>-->
<!--            <p class="lastMessage"><%= //lastMessage.text %></p>-->
<!--        </div>-->
<!--        <div class="p-2 flex-shrink-1 bd-highlight">-->
<!--            <p class="timeLastMessage"><%= //lastMessage.time %>></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</li>-->