<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 id="chatTitle">Choose a chat or create one! =)</h2>
    <div class="btn-toolbar mb-2 mb-md-0">

        <div class="dropdown chatSettings" style="display: none">
            <button type="button" class="btn btn-sm btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-stars"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end">
                <li><button class="dropdown-item" id="changeChatName">Change Chat Name</button></li>
                <li><button class="dropdown-item" id="leaveChat" data-bs-toggle="modal" data-bs-target="#confirmLeave">Leave Chat</button></li>

            </ul>
        </div>

    </div>
</div>

<div class="table-responsive chat">


    <div id="messages">
    </div>

    <div class="input-group mb-3" id="messageInput">

    </div>
</div>




