<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 id="chatTitle">Title</h2>
    <div class="btn-toolbar mb-2 mb-md-0">

        <!--        dropdown here-->

    </div>
</div>

<div class="table-responsive chat">


    <div id="messages">

    </div>

    <div class="input-group mb-3" id="messageInput">

    </div>
</div>




