<div class="modal fade" id="newChat" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalCenterTitle">Create new chat</h5>
                <button type="button" class="btn-close closeNewChat" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" id="newChatUsernameInput" aria-label="username" aria-describedby="button-addon2" list="userList">
                    <button class="btn btn-outline-secondary" type="button" id="addUserButton">Add User</button>
                    <datalist id="userList">

                    </datalist>
                </div>

                <div class="search-error-message">

                </div>

                <div id="addedUsers">
                    <ul>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger closeNewChat" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="createNewChat">Create Chat</button>
            </div>
        </div>
    </div>
</div>

