<%- include('./partials/header.ejs') %>
<form class="form-signin" method="post" action="/login" enctype="multipart/form-data">
    <img class="img-thumbnail umaLogo" src="https://www.satae.pt/wp-content/uploads/2020/08/UnivMadeira.jpg" alt="Logo img">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only">Email address</label>
    <input type="text" id="inputUsername" name="username" class="form-control form-top" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control form-bottom" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">@ UMa 2021</p>
</form>
<%- include('./partials/footer.ejs') %>

